h3 {
  color: blueviolet;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
h2 {
   text-align: left;
   font-family: "Comic Sans MS", sans-serif;
   font-size: 15px;
}
h4{
  text-align: left;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
p {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
.container {
  width: 100%;
  display: flex;
}
h2{
  color:lightcoral;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
h4{
  color:pink;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;

h1{
  color:blueviolet;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
head{
  color:blueviolet;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
p{
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
}
}
body{
  background-color: ivory;
}


